# String functions

In [ ]:
#count the frequency of characters in a string
d={}
string1=input("Enter the string : ")
for i in string1:
  d[i] = d.get(i, 0) + 1
print(d)

Enter the string : tenz
{'t': 1, 'e': 1, 'n': 1, 'z': 1}

In [ ]:
#to replace all occurances with $ except the first one

def change_char(str1):
    char = str1[0]

    str1 = str1.replace(char, '$')

    str1 = char + str1[1:]

    return str1

print(change_char('restart'))

resta$t

In [ ]:
#write a python function that takes a list of words and returns the longest one
def longest(word_list):

    longest_word = word_list[0]

    for word in word_list:
        if len(word) > len(longest_word):
            longest_word = word

    return longest_word


words = ["apple", "banana", "kiwi", "strawberry", "blueberry"]
result = longest(words)

print("Longest word:", result)

Longest word: strawberry

In [ ]:
#count occurance of each word

def word_count(str):

    counts = dict()

    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
#Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters.
def to_uppercase(str1):

    num_upper = 0


    for letter in str1[:4]:
        if letter.upper() == letter:
            num_upper += 1

    if num_upper >= 2:
        return str1.upper()

    return str1
to_uppercase("TEnz is god")

'TENZ IS GOD'

In [ ]:
#to count the vowels of a given string

from collections import Counter

def count_and_display_vowels(string):
	vowels = 'aeiouAEIOU'
	vowels_list = filter(lambda c: c in vowels, string)
	count = Counter(vowels_list)
	return count

string = "TENZ IS USING OPERATOR"
print(count_and_display_vowels(string))

Counter({'E': 2, 'I': 2, 'O': 2, 'U': 1, 'A': 1})

#List functions

In [ ]:
#1 list empty or not

def emp(lst):
  if len(lst)==0:
    print("List is empty")
  else:
    print("List is not empty")

emp([4,5])
emp([])

List is not empty
List is empty

In [ ]:
#2 remove duplicates from a list
a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]

dup_items = set()
uniq_items = []

for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [ ]:
#3 to check if two lists have a common member using function

def comm(lst1,lst2):
  for i in range(0,len(lst1)):
    if lst1[i] in lst2:
      print("There is a common member")
      break
  for j in range(0,len(lst2)):
    if lst2[2] in lst1:
      print("There is a common member")
      break

comm([1,2,3,4],[2,5,6])
comm([1,2,3],[4,5,6])

There is a common member

In [ ]:
#4 difference between two lists
a=[1,2,3,42,123,32]
b=[2,4213,13213,323]
print(set(a)-set(b))

{32, 1, 3, 42, 123}

In [ ]:
#5 program to find the smallest number in the list
def small(lst):
  lst.sort()
  print(f"{lst[1]} is the second smallest number in the list")

small([1,2,34,323,243,23,2,321])

2 is the second smallest number in the list

In [ ]:
#6 program to find second largest
def large(lst):
  lst.sort(reverse=True)
  print(f"{lst[1]} is the second largest number in the list")

large([1,2,34,323,243,23,2,321])

321 is the second largest number in the list

In [ ]:
#7 frequency of elements

import collections

my_list = [10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 50, 50, 30]

print("Original List : ", my_list)
ctr = collections.Counter(my_list)
print("Frequency of the elements in the List : ", ctr)

Original List :  [10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 50, 50, 30]
Frequency of the elements in the List :  Counter({10: 4, 20: 4, 40: 2, 50: 2, 30: 1})

In [ ]:
#8 convert list of integers into single integer
list1 = [11,22,33]
def conv(lst):
  res = int("".join(map(str, lst)))
  return res
conv(list1)

112233

In [ ]:
#9 compute similarities between two lists

from collections import Counter

color1 = ["red", "orange", "green", "blue", "white"]
color2 = ["black", "yellow", "green", "blue"]
counter1 = Counter(color1)
counter2 = Counter(color2)
print("Color1-Color2: ", list(counter1 - counter2))
print("Color2-Color1: ", list(counter2 - counter1))

Color1-Color2:  ['red', 'orange', 'white']
Color2-Color1:  ['black', 'yellow']

In [ ]:
#10 check if all dicts in a list are empty or not
lst=[{},{},{}]
def empty(lst):
  flag=True
  for i in lst:
    if len(i)!=0:
      print("Dicts are not empty")
      break
      flag=False
  if flag==True:
    print("All the dicts are empty")
empty(lst)

All the dicts are empty

#Dictionary functions

In [ ]:
#1 print numbers and their squares

x={}
n=int(input("Enter the number of terms : "))
for i in range(0,n+1):
  x[i]=i*i
  i+=1
print(x)

Enter the number of terms : 5
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#2 adding values for common keys
d1 = {'a': 100, 'b': 200, 'c':300,'d' : 500,'f':900}
d2 = {'a': 300, 'b': 500, 'c':810, 'e' : 310, 'f':700}
d3={}
for i, j in d1.items():
  for x, y in d2.items():
    if i == x:
      d3[i]=(j+y)
print(d3)

{'a': 400, 'b': 700, 'c': 1110, 'f': 1600}

In [ ]:
#3 print all the unique values of a dictionary
dict1 = {"V":"S001","V": "S002", "VI": "S001", "VI": "S005", "VII":"S005","V":"S009","VIII":"S007"}
for i in dict1.items():
  print(i)

('V', 'S009')
('VI', 'S005')
('VII', 'S005')
('VIII', 'S007')

In [ ]:
#4 combinations of all letters
result = ''
sample = {'1':['a','b'], '2':['c','d']}
list_1 = sample['1']
list_2 = sample['2']
for i in list_1:
  for j in list_2:
    result = i + j
    print(result)

ac
ad
bc
bd

In [ ]:
#5misprint

In [ ]:
#6 count the values for keys
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]
print(sum(d['success'] for d in student))

2

In [ ]:
#7 convert list into nested dictionaries
color_name = ["Black", "Red", "Maroon", "Yellow"]

color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]

print([{'color_name': f, 'color_code': c} for f, c in zip(color_name, color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
#8 sort a  list alphabetically in a dictionary
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

sorted_dict = {x: sorted(y) for x, y in num.items()}

print(sorted_dict)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [ ]:
#9
from collections import Counter
x = Counter({'Math':81,'Physics':80,'Chemistry':87})
x.most_common()

[('Chemistry', 87), ('Math', 81), ('Physics', 80)]

In [ ]:
#10

#TUPLES

In [ ]:
#1
tuple1=("tenz",1,0.43,True)
tuple1

('tenz', 1, 0.43, True)

In [ ]:
#2
tuple1=("tenz",1,0.43,True)
lst=list(tuple1)
lst.append(False)
tuple2=tuple(lst)
tuple2

('tenz', 1, 0.43, True, False)

In [ ]:
#3
tup=("1","2","3","......","go")
string=""
for i in tup:
  string=string+i
print(string)

123......go

In [ ]:
#4
tup=(1,3,4,32,1,1,1,34,3)
for i in tup:
    if tup.count(i) > 1:
      print(i)

1
3
1
1
1
3

In [ ]:
#5
tup=(1,3,4,32,1,1,1,34,3)
len(tup)

9

In [ ]:
#6
tuplex = ((2, "w"), (3, "r"))
result_dict = dict((y, x) for x, y in tuplex)

print(result_dict)

{'w': 2, 'r': 3}

In [ ]:
#7

l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]


print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
#8

l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]


print([t[:-1] for t in l])

[(10, 20), (40, 50), (70, 80)]

In [ ]:
#9
lst = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

sorted_price = sorted(lst, key=lambda x: float(x[1]), reverse=True)


print(sorted_price)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
#10
l = [4, 5, 6, 10, (1, 2, 3), 11, 2, 4]
counter = 0
for num in l:
  if isinstance(num, tuple):
    break
  counter = counter + 1
print(counter)

4

#SETs

In [ ]:
#1
set1={1,5,34}

for i in set1:
  print(i)

1
34
5

In [ ]:
#2
set1={1,5,34}
set1.add(321)
set1

{1, 5, 34, 321}

In [ ]:
#3
set1={1,5,34}
set1.remove(5)
set1

{1, 34}

In [ ]:
#4
myset1 = {12,90,43,56,"Hello"}
print("Set: ",myset1)

removing_item=12

if removing_item in myset1:
  myset1.remove(removing_item)
  print(removing_item,"exists in the set and is removed")
  print("Final Set: ",myset1)
else:
  print(removing_item,"doesn't exists in the set")

Set:  {'Hello', 56, 90, 43, 12}
12 exists in the set and is removed
Final Set:  {'Hello', 56, 90, 43}

In [ ]:
#5
s1={1,2,34,45}
s2={1,34,43}
s3=s1.intersection(s2)
s3

{1, 34}

In [ ]:
#6
s1={1,2,34,45}
s2={1,34,43}
s3=s1.symmetric_difference(s2)
s3

{2, 43, 45}

In [ ]:
#7
s1={1,2,34,45}
print(max(s1))
print(min(s1))

45
1

In [ ]:
#8
s1={1,2,34,45}
len(s1)

4

#LOOPS and CONDITIONAL STATEMENTS

In [ ]:
#1
lst=[1,2,34,5,332142,232,2]
odd,even=0,0
for i in lst:
  if i%2==0:
    even+=1
  else:
    odd+=1
print("Even : ", even)
print("odd : ", odd)

Even :  5
odd :  2

In [ ]:
#2
for x in range(6):
    if (x == 3 or x == 6):
        continue
    print(x, end=' ')

0 1 2 4 5

In [ ]:
#3
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
n = int(input("Enter number of terms : "))
for i in range(n):
    print(fibonacci(i))

Enter number of terms : 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
#4
row_num = int(input("Input number of rows: "))

col_num = int(input("Input number of columns: "))

multi_list = [[0 for col in range(col_num)] for row in range(row_num)]


for row in range(row_num):
    for col in range(col_num):

        multi_list[row][col] = row * col


print(multi_list)

Input number of rows: 4
Input number of columns: 8
[[0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7], [0, 2, 4, 6, 8, 10, 12, 14], [0, 3, 6, 9, 12, 15, 18, 21]]

In [ ]:
#5
items = []

for i in range(100, 401):

    s = str(i)

    if (int(s[0]) % 2 == 0) and (int(s[1]) % 2 == 0) and (int(s[2]) % 2 == 0):

        items.append(s)


print(",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [ ]:
#6
result_str = ""

for row in range(0, 7):

    for column in range(0, 7):

        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):
            result_str = result_str + "*"
        else:
            result_str = result_str + " "

    result_str = result_str + "\n"

print(result_str)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [ ]:
#7
result_str = ""

for row in range(0, 7):

    for column in range(0, 7):

        if (column == 1 or ((row == 0 or row == 3) and column > 0 and column < 5) or ((column == 5 or column == 1) and (row == 1 or row == 2))):
            result_str = result_str + "*"
        else:
            result_str = result_str + " "
    result_str = result_str + "\n"

print(result_str)

In [ ]:
#8
def is_valid_triangle(a,b,c):
    if a+b>=c and b+c>=a and c+a>=b:
        return True
    else:
        return False


side_a = float(input('Enter length of side a: '))
side_b = float(input('Enter length of side b: '))
side_c = float(input('Enter length of side c: '))



if is_valid_triangle(side_a, side_b, side_c):
    print('Triangle is Valid.')
else:
    print('Triangle is Invalid.')

Enter length of side a: 3
Enter length of side b: 4
Enter length of side c: 5
Triangle is Valid.

In [ ]:
#9
x=int(input("Enter the number : "))
for i in range(1, 11):
   print(x, 'x', i, '=', x*i)

Enter the number : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
#10
n = int(input("Enter number of rows: "))

for i in range(1,n+1):
    for j in range(1, i+1):
        print(i, end="")
    print()

Enter number of rows: 9
1
22
333
4444
55555
666666
7777777
88888888
999999999

#Functions

In [ ]:
#1
a=int(input("Enter the number : "))
b=int(input("Enter the number : "))
c=int(input("Enter the number : "))
lst=[]
def max_3(lst):

  lst.append(a)
  lst.append(b)
  lst.append(c)
  print(max(lst))
max_3(lst)

Enter the number : 3
Enter the number : 4
Enter the number : 5
5

In [ ]:
#2
lst=[1,2,3,4,5,5,6,7]
def sum_1():
  sum=0

  for i in lst:
    sum=sum+i
  print(sum)
sum_1()

33

In [ ]:
#3
lst=[1,2,3,4,5]
def mult():
  sum=1
  for i in lst:
    sum=sum*i
  print(sum)
mult()

120

In [ ]:
#4
def string_test(s):
    d = {"UPPER_CASE": 0, "LOWER_CASE": 0}

    for c in s:
        if c.isupper():
            d["UPPER_CASE"] += 1
        elif c.islower():
            d["LOWER_CASE"] += 1
        else:
            pass

    print("Original String: ", s)

    print("No. of Upper case characters: ", d["UPPER_CASE"])

    print("No. of Lower case Characters: ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String:  The quick Brown Fox
No. of Upper case characters:  3
No. of Lower case Characters:  13

In [ ]:
#5
lst=[1,2,3,4,5,4,54,5,4,3,213]
def uni(lst):
  lst1=[]
  for i in lst:
    if i not in lst1:
      lst1.append(i)
  print(lst1)
uni(lst)

[1, 2, 3, 4, 5, 54, 213]

In [ ]:
#6
lst=[1,2,3,4,5,4,54,5,4,3,213]
def even_lst(lst):
  for i in lst:
    if i%2==0:
      print(i)
even_lst(lst)

2
4
4
54
4

In [ ]:
#7
name="Tenz"


def palindrome(name):

  name1=name[::-1]
  if name1==name:
    print("It is palindrome")
  else:
    print("Palindrome doesnt occur")
palindrome(name)

Palindrome doesnt occur

In [ ]:
#8
def test(a):
    def add(b):
        nonlocal a
        a += 1
        return a + b
    return add
func = test(4)
print(func(4))

9

In [ ]:
#9